.table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 100px;
}

.head {
    color: white;
    background-color: rgb(48, 47, 47);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border: 1px solid #000;

}

.body {
    font-size: 20px;
    color: #000;
    text-align: center;
    padding: 8px;
    border: 1px solid #000;

}

.body::first-letter {
    text-transform: uppercase;
}